<aside
  class="sidebar"
  role="note"
  style="background-image: url({{ site.author.avatar }})"
>
  <div class="cover">
    <div class="cover-text">
      <div class="heading">
        {{site.author.name}}
      </div>

      <p>
        {{ site.author.bio }}
      </p>
    </div>

    <ul class="icons">
      <li>
        <a href="https://github.com/xwen99"
          ><img alt="Github" width="26px" src="/assets/icons/github.png"
        /></a>
      </li>
      <li>
        <a href="https://scholar.google.com/citations?user=byCeJl4AAAAJ"
          ><img
            alt="Google Scholar"
            width="26px"
            src="/assets/icons/googlescholar.png"
        /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/xin-wen-b51095180"
          ><img alt="Linkedin" width="26px" src="/assets/icons/linkedin.png"
        /></a>
      </li>
      <li>
        <a href="mailto:im.xwen@gmail.com"
          ><img alt="Mail" width="26px" src="/assets/icons/email.png"
        /></a>
      </li>
      <li>
        <a href="https://www.zhihu.com/people/wen-xin-17-25"
          ><img alt="Zhihu" width="26px" src="/assets/icons/zhihu.png"
        /></a>
      </li>
    </ul>
  </div>

  <div id="switcher"></div>
</aside>
