<header class="main-header content-wrapper">
  <input type="checkbox" id="menu-checkbox" />
  <nav class="center-wrapper nav-main">
    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

    {% for link in site.data.navigation.main %} {% if link.url contains 'http'
    %} {% assign domain = '' %} {% else %} {% assign domain = base_path %} {%
    endif %}
    <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
    {% endfor %}

    <label
      for="menu-checkbox"
      class="toggle-button"
      data-open="☰"
      data-close="☰"
      onclick
    ></label>
  </nav>
</header>
